<html>
<title>certificate</title>
<body>
	<center>
	<div class="all" style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
       {% csrf_token %}
<div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
<br>
<br>
<br>


       <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
       <br><br>
       <br>
       <span style="font-size:25px"><i>This is to certify that</i></span>
       <br><br>
       <span style="font-size:30px"><b>Mr./Ms. {{ user }}</b></span><br/><br/>
       <span style="font-size:25px"><i>has completed the Personality Development course</i></span> <br/><br/>
       <span style="font-size:30px">INKLIN'<h5>Helping you Nurture</h5></span> 
       <span style="font-size:30px">with score of <b>{{ score}}</b></span> <br/><br/><br/><br/>
       
      
      
      </center>>

</div>
</div>
</body>>
</html>

